body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 100%);
    margin: 0;
}
#logo-container {
    display: block;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}